/*
 * {
  -moz-box-sizing: inherit;
       box-sizing: inherit;
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
*/



body {
  overflow: hidden;
  background: transparent;
  height: 100vh;
  max-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

video { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0;
}

#search2 {
  color: white;
}



#downloadMessage {
  font-family: 'Permanent Marker', cursive;
}



#twitterIcon {
  width: 17px;
  padding-bottom: 2px;
}

.randomButton {
  background-color: #F8AE4B;
  color: white;
  font-size: 8px;
  font-weight: 800;
  border: none;
  margin-bottom: 4px;
}

.randomButton2 {
  width: 40px;
  height: 30px;
  background-color: #FA8072;
  color: white;
  font-size: 8px;
  font-weight: 800;
  border: none;
  margin-bottom: 4px;
}

#randomIcon2 {
  width: 18px
  padding-right: 6px;
}

#randomIcon {
  width: 1.5vh;
  padding: 0px;
}

#mainBody {
  background: transparent;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width:100vw;
  -webkit-font-smoothing: antialiased;
}

.mainBodyLoaded {
  background: transparent;
  height: 100vh;
  max-height: 100vh;
  -webkit-font-smoothing: antialiased;
  opacity: 0;
}

#mainImg {
  background: transparent;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width:100vw;
  -webkit-font-smoothing: antialiased;
}
.mainImgLoaded {
  position: absolute;
  height: 100vh;
  max-height: 100vh;
  opacity: 0;
}

/* Dynamically changing font sizes */
.mainHeading {
  color: white;
    font-size:calc(100% + 0.8vw);
    font-weight: 700;
}

.noPlaylists {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: white;
  text-align: center;
  font-size: calc(50% + 0.5vw);
  top: 95%;
  padding-left:10px;
  padding-right: 10px;

}
.favs {
  white-space: nowrap;
  overflow-y: hidden;
  position: absolute;
  height: calc(2% + 2vw);
  width: 100%;
  background-color: black;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  font-size: calc(50% + 0.5vw);
  line-height: 6vh;
}

.favs img {
  vertical-align: top;
}

.favsImages {
  width: auto;
  height: 100%;
  padding: 2px;
  vertical-align: none;
}

.credits {
  padding: 5px;
  position: absolute;
  width: 100%;
  color: white;
  text-align: center;
  bottom: 1vh;
  padding-left:10px;
  padding-right: 10px;
  font-size: calc(50% + 1.0vh);
  padding-bottom: 20px;
}

.subButton {
  background-color: #F8AE4B;
  color: white;
  font-weight: 800;
  border: none;
  margin-bottom: 4px;
  font-size: calc(40% + 1.0vh);
}

.subButton:hover {
  background-color: #8C4B0C ;
}

.randomButton:hover {
  background-color: #8C4B0C ;
}

.twitterButton {
  background-color: #55ACEE;
  color: white;
  font-weight: 800;
  border: none;
  margin-bottom: 4px;
  font-size: calc(40% + 1.0vh);
}
#twitter {
  position: absolute;

}

.favsImages {
  width: auto;
  height: 100%;
  padding: 2px;
  vertical-align: none;
}

.otherHeadings {
  color: white;
  font-size:calc(100% + 0.5vw);
}

.favArrowsRight {
  position: absolute;
  font-size: calc(100% + 4vh);
  line-height: 7vh;
  right:0;
  cursor: pointer;
  z-index: 1;
  top: 86.0%;
  color: white;
  display: none;
}

.favArrowsLeft {
  position: absolute;
  font-size: calc(100% + 4vh);
  line-height: 7vh;
  cursor: pointer;
  z-index: 1;
  top: 86.0%;
  color: white;
  display: none;
}



/* Header Image Background 
url('//images/league-map-10.jpg') no-repeat center center fixed;
*/



.kenBurns {
  -webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
    animation-play-state: paused;
}

.fadeItIn {
    /* -webkit-animation: moveX 30s linear 0s infinite alternate, moveY 30s linear 0s infinite alternate;
      -moz-animation: moveX 30s lineagr 0s infinite alternate, moveY 30s linear 0s infinite alternate;
       animation: moveX 30s linear 0s infinite alternate, moveY 30s linear 0s infinite alternate;
   */
    -webkit-transition: 2s opacity;
    -moz-transition: 2s opacity;
    transition: 2s opacity;
    
    opacity: 1;

}

.newFadeItIn{
  opacity: 0;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
  opacity: 1;
}

.fadeItOut {
    -webkit-animation: fadeout 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadeout 1s; /* Firefox < 16 */
      -ms-animation: fadeout 1s; /* Internet Explorer */
       -o-animation: fadeout 1s; /* Opera < 12.1 */
          animation: fadeout 1s;
  opacity: 0;
}

.fadeItOutObject {
    -webkit-animation: fadeout 0.5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadeout 0.5s; /* Firefox < 16 */
      -ms-animation: fadeout 0.5s; /* Internet Explorer */
       -o-animation: fadeout 0.5s; /* Opera < 12.1 */
          animation: fadeout 0.5s;
  opacity: 0;
}

.fadeItInObject {
    -webkit-transition: 2s opacity;
    -moz-transition: 2s opacity;
    transition: 2s opacity;
    
    opacity: 1;
}

.bannerMessage {
  border: 1px solid #b00000;
  background: rgba(255, 0, 0, 0.5);
  position: absolute;
  color: white;
  width: 100%;
  text-align: center;
  font-size: calc(50% + 0.5vw);
  cursor: pointer;
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
ade
/* Opera < 12.1 */
@-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@keyframes fadein{
    0% { opacity:0; }
  
    100% { opacity:1; }
}


@keyframes animatedBackground {
  0% { background-position: 20% 30%; }
  100% { background-position: 100% 30%; }
}

@-webkit-keyframes animatedBackground {
  0% { background-position: 20% 30%; }
  100% { background-position: 100% 30%; }
}

@-moz-keyframes animatedBackground {
  0% { background-position: 20% 30%; }
  100% { background-position: 100% 30%; }
}


@keyframes moveX {
  from{background-position-x:0px;}
      to{background-position-x: -2400px;}
}
@keyframes moveY {
  from{background-position-y: -400px;}
      to{background-position-y:-400px;}
}

@-moz-keyframes moveX {
  from{background-position-x:0px;}
      to{background-position-x: -2400px;}
}
@-moz-keyframes moveY {
  from{background-position-y: -400px;}
      to{background-position-y:-400px;}
}

@-webkit-keyframes moveX {
  from{background-position-x:0px;}
      to{background-position-x: -2400px;}
}
@-webkit-keyframes moveY {
  from{background-position-y: -400px;}
      to{background-position-y:-400px;}
}

body,
a,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Open Sans", sans-serif;
}



